/**
 * Description: **Inter font face
 */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
          url("../fonts/Inter-Black.ttf") format('ttf'),
          url("../fonts/Inter-Black.woff") format('woff'),
          url("../fonts/Inter-Black.woff2") format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
          url("../fonts/Inter-ExtraBold.ttf") format('ttf'),
          url("../fonts/Inter-ExtraBold.woff") format('woff'),
          url("../fonts/Inter-ExtraBold.woff2") format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
          url("../fonts/Inter-Bold.ttf") format('ttf'),
          url("../fonts/Inter-Bold.woff") format('woff'),
          url("../fonts/Inter-Bold.woff2") format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
          url("../fonts/Inter-SemiBold.ttf") format('ttf'),
          url("../fonts/Inter-SemiBold.woff") format('woff'),
          url("../fonts/Inter-SemiBold.woff2") format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
          url("../fonts/Inter-Medium.ttf") format('ttf'),
          url("../fonts/Inter-Medium.woff") format('woff'),
          url("../fonts/Inter-Medium.woff2") format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
          url("../fonts/Inter-Regular.ttf") format('ttf'),
          url("../fonts/Inter-Regular.woff") format('woff'),
          url("../fonts/Inter-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
          url("../fonts/Inter-Light.ttf") format('ttf'),
          url("../fonts/Inter-Light.woff") format('woff'),
          url("../fonts/Inter-Light.woff2") format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src:
          url("../fonts/Inter-ExtraLight.ttf") format('ttf'),
          url("../fonts/Inter-ExtraLight.woff") format('woff'),
          url("../fonts/Inter-ExtraLight.woff2") format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src:
          url("../fonts/Inter-Thin.ttf") format('ttf'),
          url("../fonts/Inter-Thin.woff") format('woff'),
          url("../fonts/Inter-Thin.woff2") format('woff2');
}

/**
 * Description: **Rubik font face
 */

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
          url("../fonts/Rubik-Black.ttf") format('ttf'),
          url("../fonts/Rubik-Black.woff") format('woff'),
          url("../fonts/Rubik-Black.woff2") format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
          url("../fonts/Rubik-ExtraBold.ttf") format('ttf'),
          url("../fonts/Rubik-ExtraBold.woff") format('woff'),
          url("../fonts/Rubik-ExtraBold.woff2") format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
          url("../fonts/Rubik-Bold.ttf") format('ttf'),
          url("../fonts/Rubik-Bold.woff") format('woff'),
          url("../fonts/Rubik-Bold.woff2") format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
          url("../fonts/Rubik-SemiBold.ttf") format('ttf'),
          url("../fonts/Rubik-SemiBold.woff") format('woff'),
          url("../fonts/Rubik-SemiBold.woff2") format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
          url("../fonts/Rubik-Medium.ttf") format('ttf'),
          url("../fonts/Rubik-Medium.woff") format('woff'),
          url("../fonts/Rubik-Medium.woff2") format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
          url("../fonts/Rubik-Regular.ttf") format('ttf'),
          url("../fonts/Rubik-Regular.woff") format('woff'),
          url("../fonts/Rubik-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
          url("../fonts/Rubik-Light.ttf") format('ttf'),
          url("../fonts/Rubik-Light.woff") format('woff'),
          url("../fonts/Rubik-Light.woff2") format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src:
          url("../fonts/Rubik-ExtraLight.ttf") format('ttf'),
          url("../fonts/Rubik-ExtraLight.woff") format('woff'),
          url("../fonts/Rubik-ExtraLight.woff2") format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src:
          url("../fonts/Rubik-Thin.ttf") format('ttf'),
          url("../fonts/Rubik-Thin.woff") format('woff'),
          url("../fonts/Rubik-Thin.woff2") format('woff2');
}