/* BUTTON_______ANIMATED */
@keyframes waves {
  0% {
    transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
  }
}
@-o-keyframes waves {
  0% {
    transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
  }
}
@-moz-keyframes waves {
  0% {
    transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
  }
}
@-webkit-keyframes waves {
  0% {
    transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
  }
}
/* _______________services_______tables________________ */
/* _______________image_______zoom________________ */
/* картинка на странице */
/* увеличенная картинка */
/* затемняющий фон */
/* кнопка закрытия */
/* _______________BLOCKS_______SLIDER________________ */
/* ____MEDIA___RULES____ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0;
  font-family: sans-serif;
  &::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0;
    font-family: sans-serif;
  }
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0;
    font-family: sans-serif;
  }
}
html {
  height: 100vh;
}
body {
  height: 100vh;
}
p {
  line-height: 140%;
}
.headaddr {
  margin: 30px 10px;
  padding-left: 44px;
  color: #202020;
  background: url("../img/call_head.png") no-repeat 0 0px;
  font-size: calc(0.5rem + 6 * (100vw - 320px) / 880);
  ul {
    li {
      list-style: none;
    }
  }
}
header {
  padding: 0;
  margin: 0;
}
footer {
  background-color: #202020;
  min-height: 460px;
  ul {
    li {
      list-style: none;
      color: #fff;
      font-family: Comfortaa;
      margin-bottom: 6px;
      a {
        text-decoration: none;
        color: #2784CE;
        font-family: Comfortaa;
      }
    }
  }
  img {
    max-width: 330px;
    margin-bottom: 40px;
  }
}
#logoFoo {
  display: flex;
  flex-flow: column nowrap;
  padding: 5px;
  color: #fff;
  h5 {
    font-family: Comfortaa;
  }
}
.containerFoo {
  margin: auto;
  width: 85%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
  font-family: Comfortaa;
  padding-top: 140px;
}
.info {
  background-color: #f8f8f8;
  padding: 30px;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  h1 {
    text-shadow: 0px 1px 0px #202020;
  }
  svg {
    width: 120px;
    margin: 15px auto 15px auto;
    fill: #fff;
  }
}
.block1 {
  min-height: 190px;
  background-color: #2784CE;
  border: 2px solid #1b5c91;
  border-radius: 5px;
  max-width: 270px;
  padding: 10px;
  margin: 10px 20px;
  color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.3);
}
.block3 {
  min-height: 190px;
  background-color: #42B3E5;
  border: 2px solid #2b7696;
  border-radius: 5px;
  max-width: 270px;
  padding: 10px;
  margin: 10px 20px;
  color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.3);
}
.block2 {
  min-height: 190px;
  background-color: #3156A3;
  border: 2px solid #284585;
  border-radius: 5px;
  max-width: 270px;
  padding: 10px;
  margin: 10px 20px;
  color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.3);
}
#logo {
  margin-right: 80px;
  pointer-events: none;
}
nav {
  height: 10vh;
  background: #fff;
  min-height: 130px;
}
.nav-links {
  display: flex;
  list-style: none;
  width: 85%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  li {
    a {
      color: #888;
      text-decoration: none;
      font-size: 16px;
      padding: 15px;
      transition: all .3s ease-in-out;
      &:hover {
        color: #fff;
        background-color: #42B3E5;
      }
    }
    a.activated {
      color: #fff;
      background-color: #42B3E5;
    }
  }
}
li {
  a {
    &:focus {
      background-color: red;
    }
  }
}
.top {
  height: 530px;
  background-position: top center;
  background: white url("../img/cabfade.png") no-repeat;
  padding-top: 100px;
}
.wrapper {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  margin: 80px auto auto 160px;
  font-family: Comfortaa;
}
hgroup {
  margin-left: 160px;
  font-family: Comfortaa;
  h1 {
    font-size: calc(3.0rem + 6 * (100vw - 320px) / 880);
    color: #ffffff;
    text-shadow: 2px 2px 0px #42B3E5;
    margin-bottom: 20px;
  }
  h2 {
    font-size: calc(1.3rem + 6 * (100vw - 320px) / 880);
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-weight: 100;
    display: block;
  }
}
.about {
  display: flex;
  min-height: 460px;
  flex-direction: row;
  justify-content: center;
  padding: 70px 150px;
  background-color: #1b5c91;
  color: #fff;
  box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
  img {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 400px;
    border-radius: 5px;
  }
  p {
    line-height: 160%;
  }
}
#text {
  h1 {
    font-size: calc(2.5rem + 6 * (100vw - 320px) / 880);
    margin-bottom: 15px;
  }
  margin: 0px 20px;
}
#help_link {
  color: #1b5c91;
  background-color: #f8f8f8;
  padding: 0px 5px;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 5px;
}
.license {
  margin: auto;
  padding: 45px;
  text-align: center;
  background-color: #f8f8f8;
  font-family: Comfortaa;
  h1 {
    font-size: calc(2.5rem + 6 * (100vw - 320px) / 880);
    margin-bottom: 15px;
  }
  h2 {
    font-size: calc(1rem + 6 * (100vw - 320px) / 880);
    margin-bottom: 15px;
    font-weight: 400;
  }
  img {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: initial;
  }
}
.license__photo {
  border: 1px solid #202020;
}
.wave_btn {
  &:hover {
    .wave_btn__waves {
      top: -50px;
    }
  }
  display: flex;
  width: 280px;
  height: 60px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  transition: all .8s ease 0s;
  -webkit-transition: all .8s ease 0s;
  -moz-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  -ms-transition: all .8s ease 0s;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.wave_btn__text {
  color: #fff;
  font-size: large;
  font-family: Comfortaa;
  position: relative;
  z-index: 1;
}
.wave_btn__waves {
  transition: all .8s ease 0s;
  -webkit-transition: all .8s ease 0s;
  -moz-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  -ms-transition: all .8s ease 0s;
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 280px;
  background-color: #42B3E5;
  box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 250%;
    height: 250%;
    transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    background-color: rgba(63, 63, 63, 0.5);
    border-radius: 44%;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 250%;
    height: 250%;
    transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    background-color: #202020;
    border-radius: 48%;
    animation: waves 5s infinite linear;
    -webkit-animation: waves 5s infinite linear;
    -o-animation: waves 5s infinite linear;
    -ms-animation: waves 5s infinite linear;
    -moz-animation: waves 5s infinite linear;
  }
}
.docs-slide {
  padding: 80px;
  background-color: #f8f8f8;
  min-height: 400px;
  h4 {
    font-family: Comfortaa;
  }
  p {
    font-weight: 100;
  }
}
.aboutService {
  width: 80%;
  margin: 30px auto;
  padding: 30px;
  background-color: #f8f8f8;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-size: calc(3.4rem + 6 * (100vw - 320px) / 880);
    color: #2784CE;
    font-family: Comfortaa;
    text-shadow: 1px 1px 1px #000;
  }
  p {
    text-align: justify;
    line-height: 1.5em;
  }
}
table {
  width: 80%;
  margin: 30px auto;
}
td {
  padding: 15px 25px;
  border-radius: 5px;
}
th {
  background-color: #154872;
  color: #fff;
  border-radius: 5px;
  padding: 15px 25px;
}
tbody {
  tr {
    &:nth-child(even) {
      background-color: #f8f8f8;
    }
    &:nth-child(odd) {
      background-color: #42B3E5;
    }
  }
}
tr {
  &:hover {
    td {
      background: rgb(141, 141, 141);
    }
  }
}


@media (min-width: 1018px) {
  #logo_mobile {
    display: none;
  }
}
@media (max-width: 1330px) {
  nav {
    min-height: 85px;
  }
  .nav-links {
    width: 98%;
    li {
      a {
        padding: 8px;
      }
    }
  }
  #logo {
    height: 40px;
  }
}
@media screen and (max-width: 1018px) {
  .containerFoo {
    flex-direction: column;
  }
  #map {
    margin-bottom: 15px;
  }
  #Contacts {
    margin-bottom: 15px;
  }
  #Address {
    margin-bottom: 15px;
  }
  #logoFoo {
    margin-bottom: 15px;
  }
  #logo {
    width: 200px;
    margin: 5px;
  }
  .sItem {
    height: 417px;
    p {
      margin-bottom: 10px;
    }
  }
  .slAvatar {
    margin: 10px auto;
    max-height: 80px;
  }
  .docs-slide {
    margin: auto;
    padding: 0px;
    min-height: auto;
  }
  .about {
    flex-direction: column;
    padding: 10px;
    img {
      margin: 5px;
    }
  }
  hgroup {
    margin: 10px;
  }
  .wrapper {
    margin: 10px;
  }
  .line {
    width: 30px;
    height: 3px;
    background-color: #888;
    margin: 5px;
    transition: all .5s ease-in-out;
  }
  nav {
    position: relative;
    min-height: 40px;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 1s ease-in-out 0.5s;
    z-index: 21;
  }
  .line.rot {
    &:nth-child(1) {
      transform: translate(0px, 8px) rotate(-0.625turn);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: translate(0px, -8px) rotate(0.625turn);
    }
    background-color: #42B3E5;
  }
  .nav-links {
    position: fixed;
    background-color: #788388;
    height: 100%;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-in-out;
    pointer-events: none;
    z-index: 20;
    li {
      opacity: 0;
      a {
        font-size: 25px;
        color: #fff;
      }
      &:nth-child(1) {
        transition: all 0.5s ease 0.4s;
      }
    }
  }
  .nav-links.open {
    clip-path: circle(1400px at 90% -10%);
    -webkit-clip-path: circle(1400px at 90% -10%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  li {
    &:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    &:nth-child(3) {
      transition: all 0.5s ease 0.4s;
    }
    &:nth-child(4) {
      transition: all 0.5s ease 0.4s;
    }
    &:nth-child(5) {
      transition: all 0.5s ease 0.4s;
    }
  }
  li.fade {
    opacity: 1;
  }
  .headaddr {
    display: block;
    margin: 30px 10px;
    padding-left: 44px;
    background: url("../img/call.svg") no-repeat 0 0px;
    ul {
      li {
        list-style: none;
      }
    }
  }
  .info {
    background-color: #f8f8f8;
    padding: 30px;
    min-height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .block1 {
    max-width: 700px;
  }
  .block2 {
    max-width: 700px;
  }
  .block3 {
    max-width: 700px;
  }
}
