/* BUTTON_______ANIMATED */
@keyframes waves {
  0% {
    transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
  }
}
@-o-keyframes waves {
  0% {
    transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
  }
}
@-moz-keyframes waves {
  0% {
    transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
  }
}
@-webkit-keyframes waves {
  0% {
    transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
  }
}
/* _______________services_______tables________________ */
/* _______________image_______zoom________________ */
/* картинка на странице */
/* увеличенная картинка */
/* затемняющий фон */
/* кнопка закрытия */
/* _______________BLOCKS_______SLIDER________________ */
/* ____MEDIA___RULES____ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0;
  &::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0;
  }
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0;
  }
}
html {
  height: 100vh;
}
body {
  height: 100vh;
}
p {
  line-height: 140%;
}

li {
  a {
    &:focus {
      background-color: red;
    }
  }
}
.top {
  height: 530px;
  background-position: top center;
  background-image: url("../img/cabfade.png");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}
.wrapper {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  margin: 80px auto auto 80px;
}
hgroup {
  margin-left: 80px;
  h1 {
    font-size: calc(3.0rem + 6 * (100vw - 320px) / 880);
    color: #ffffff;
    text-shadow: 2px 2px 0px #42B3E5;
    margin-bottom: 20px;
  }
  h2 {
    font-size: calc(1.3rem + 6 * (100vw - 320px) / 880);
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-weight: 100;
    display: block;
  }
}
.license {
  margin: auto;
  padding: 45px;
  text-align: center;
  background-color: #f8f8f8;
  h1 {
    font-size: calc(2.5rem + 6 * (100vw - 320px) / 880);
    margin-bottom: 15px;
  }
  h2 {
    font-size: calc(1rem + 6 * (100vw - 320px) / 880);
    margin-bottom: 15px;
    font-weight: 400;
  }
  img {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: initial;
  }
}
.license__photo {
  border: 1px solid #202020;
}
.wave_btn {
  &:hover {
    .wave_btn__waves {
      top: -50px;
    }
  }
  display: flex;
  width: 280px;
  height: 60px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  transition: all .8s ease 0s;
  -webkit-transition: all .8s ease 0s;
  -moz-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  -ms-transition: all .8s ease 0s;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.wave_btn__text {
  color: #fff;
  font-size: large;
  position: relative;
  z-index: 1;
}
.wave_btn__waves {
  transition: all .8s ease 0s;
  -webkit-transition: all .8s ease 0s;
  -moz-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  -ms-transition: all .8s ease 0s;
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 280px;
  background-color: #42B3E5;
  box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 250%;
    height: 250%;
    transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    background-color: rgba(63, 63, 63, 0.5);
    border-radius: 44%;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 250%;
    height: 250%;
    transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
    background-color: #202020;
    border-radius: 48%;
    animation: waves 5s infinite linear;
    -webkit-animation: waves 5s infinite linear;
    -o-animation: waves 5s infinite linear;
    -ms-animation: waves 5s infinite linear;
    -moz-animation: waves 5s infinite linear;
  }
}
.docs-slide {
  padding: 80px;
  background-color: #f8f8f8;
  min-height: 400px;
  h4 {
  }
  p {
    font-weight: 100;
  }
}
.aboutService {
  width: 80%;
  margin: 30px auto;
  padding: 30px;
  background-color: #f8f8f8;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-size: calc(3.4rem + 6 * (100vw - 320px) / 880);
    color: #2784CE;
    text-shadow: 1px 1px 1px #000;
  }
  p {
    text-align: justify;
    line-height: 1.5em;
  }
}
table {
  width: 80%;
  margin: 30px auto;
}
td {
  padding: 15px 25px;
  border-radius: 5px;
}
th {
  background-color: #154872;
  color: #fff;
  border-radius: 5px;
  padding: 15px 25px;
}
tbody {
  tr {
    &:nth-child(even) {
      background-color: #f8f8f8;
    }
    &:nth-child(odd) {
      background-color: #42B3E5;
      color: #FFFFFF;
    }
  }
}
tr {
  &:hover {
    td {
      background: rgb(141, 141, 141);
      color: rgb(255, 255, 255);
    }
  }
}


@media (min-width: $tablet) {
  #logo_mobile {
    display: none;
  }
}
@media screen and (max-width: $tablet) {
  .sItem {
    height: 417px;
    p {
      margin-bottom: 10px;
    }
  }
  .slAvatar {
    margin: 10px auto;
    max-height: 80px;
  }
  .docs-slide {
    margin: auto;
    padding: 0px;
    min-height: auto;
  }
  hgroup {
    margin: 10px;
  }
  .wrapper {
    margin: 10px;
  }
  .landing {
    flex-direction: column;
  }

}
