/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.footer {
  background-color: #202020;
  min-height: 460px;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 140px;
  }

  &__logo {
    display: flex;
    flex-flow: column nowrap;
    padding: 5px;
    color: #fff;

    h5 {
    }
  }

  ul {
    li {
      list-style: none;
      color: #fff;
      margin-bottom: 6px;
      a {
        text-decoration: none;
        color: #2784CE;
      }
    }
  }

  img {
    max-width: 230px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1300px) {
  .footer {
    &__container {
      width: calc(100% - 80px);
      margin: 0;
      column-gap: 20px;
    }
  }
}

@media (max-width: $tablet) {
  .footer {
    &__container {
      flex-direction: column;
      padding-top: 70px;
    }

    &__logo {
      margin-bottom: 15px;
    }

    &__map,
    &__contacts,
    &__address {
      margin-bottom: 15px;
    }
  }
}