/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.menu {
  &__address {
    margin: 30px 10px;
    padding-left: 44px;
    color: #202020;
    background: url("../img/call_head.png") no-repeat 0 0px;
    font-size: calc(0.5rem + 6 * (100vw - 320px) / 880);

    ul {
      li {
        list-style: none;
      }
    }
  }

  &__nav {
    height: 10vh;
    background: #fff;
    min-height: 130px;
  }

  &__nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    &-link {
      color: #888;
      text-decoration: none;
      font-size: 16px;
      padding: 15px;
      transition: all .3s ease-in-out;

      &:hover {
        color: #fff;
        background-color: #42B3E5;
      }

      &--active {
        color: #fff;
        background-color: #42B3E5;
      }
    }
  }

  &__line {
    width: 30px;
    height: 3px;
    background-color: #888;
    margin: 5px;
    transition: transform .5s ease-in-out, background-color 1s ease-out .3s;
  }

  &__hamburger {
    display: none;
    z-index: 21;
  }

  &__logo {
    &--mobile {
      display: none;
    }

    &-img {
      margin-right: 40px;
    }
  }
}

@media (max-width: $desktop-md) {
 .menu {
   &__nav {
     min-height: 85px;
   }

   &__nav-links {
     width: 98%;

     &-link {
       padding: 8px;
     }
   }

   &__logo-img {
     height: 40px;
   }
 }
}


@media (max-width: $tablet) {
  .menu {
    background-color: #F8F8F8;

    &__address {
      display: block;
      margin: 30px 10px;
      padding-left: 44px;
      background: url("../img/call.svg") no-repeat 0 0px;
      ul {
        li {
          list-style: none;
        }
      }
    }

    &__nav {
      background-color: inherit;
      position: relative;
      height: 60px;
      min-height: initial;
    }

    &__nav-links {
      position: fixed;
      top: 0;
      background-color: #788388;
      height: 100%;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -10%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-in-out;
      pointer-events: none;
      z-index: 20;

      &-link {
        font-size: 25px;
        color: #fff;
      }

      &-item {
        opacity: 0;

        &:nth-child(-n+6) {
          transition: all 0.5s ease 0.4s;
        }

        &--active {
          opacity: 1;
        }
      }

      &--open {
        clip-path: circle(1400px at 90% -10%);
        -webkit-clip-path: circle(1400px at 90% -10%);
        pointer-events: all;
      }
    }

    &__line {
      &--active:nth-child(1) {
        transform: translate(0px, 8px) rotate(-0.625turn);
      }

      &--active:nth-child(2) {
        opacity: 0;
      }

      &--active:nth-child(3) {
        transform: translate(0px, -8px) rotate(0.625turn);
      }

      &--active {
        background-color: #42B3E5;
      }
    }

    &__logo {
      &-img {
        width: 200px;
        margin: 5px;
      }

      &--mobile {
        display: block;
        height: 60px;

        .menu__logo-img {
          height: inherit;
        }
      }
    }

    &__hamburger {
      position: absolute;
      cursor: pointer;
      right: 0;
      top: 50%;
      transform: translate(-5%, -50%);
      display: block;
    }
  }
}