/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.info {
  background-color: #f8f8f8;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    column-gap: 15px;
  }

  &__block {
    min-height: 190px;
    background-color: #42B2E4;
    border: 2px solid #3387ad;
    border-radius: 4px;
    max-width: 500px;
    padding: 15px 20px;
    margin: 10px 0;
    color: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);

    &:nth-child(2n) {
      background-color: #3156A3;
      border: 2px solid #284585;
    }

    &-title {
      text-shadow: 0px 1px 0px #202020;
      font-size: 1.5em;
    }

    &-image {
      width: 120px;
      margin: 15px auto 15px auto;
      fill: #fff;
    }
  }
}

@media (max-width: $desktop-md) {
  .info {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: $tablet) {
  .info {
    &__container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}