/**
 * 
 *
 * @author Tatevosyan Artem (@teqst)
 */

.stop_talking_shit {
  font-size: 20px;
}

.docs-slide__button {
  width: 40px;
  height: 40px;
  background-color: #1b5c91;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translate(0%, -100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  user-select: none;

  &--prev {
    left: 0;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }

  &--next {
    right: 0;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
  }
}

.slider {
  position: relative;
  overflow: hidden;
}
.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}
.slider__item {
  &:nth-child(odd) {
    .sItem {
      background: rgb(119, 119, 119);
      color: #fff;
    }
  }

  &:nth-child(even) {
    .sItem {
      background: rgb(160, 160, 160);
      color: #000;
    }
  }

  >div {
    text-align: center;
    padding: 20px;
    font-size: calc(0.7rem + 6 * (100vw - 320px) / 880);
  }
}
.sItem {
  height: 363px;
}

.slAvatar {
  max-height: 150px;
  height: 100%;
  margin: 10px auto;
}
.slider__control {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.8;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(39, 132, 206, 1);
  &:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 1;
  }
  &:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 1;
  }
  &::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
}
.slider__control_left {
  left: 0;
  display: flex;
  &::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
}
.slider__control_right {
  display: flex;
  right: 0;
  &::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
}